@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <title>Test</title>
</head>
<body>
<div>
      @ViewBag.TestResult
</div>
</body>
</html>